@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.page {
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-bottom:50px;
  font-family: "Roboto", sans-serif;
  width: 1320px;
  @media only screen and (max-width: 991.98px) {
    width: 100%;
  }
}
.header-menu-wrapper{
  background-color: orange;
}

.active{
  color: red;
}

.container {
  margin-top: 300px;
  h1{
    line-height: 1;
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    span{
      color: aqua;
    }
  }
  p{
    margin: 30px 0;
    /*color: gray*/
  }
}
.form-inline {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  .inputbox{
    flex-grow:1;
    margin-right:20px
  }
  .text{
    /*width:920px;*/
    width: 100%;
    height:50px;
    border:1px #e2e4e7 solid;
    padding:0 0 0 8px;
    line-height:1;
    font-size:16px;
    color:#666;
    border-radius:5px;
    margin-right: 10px;
  }
  .selects {
    display: flex;

    select {
      width: 120px;
      flex-grow: 2;
      height: 52px;
      font-size: 16px;
      margin-right: 10px;
      border:1px #e2e4e7 solid;
      border-radius:5px;
    }
  }
  button {
    width: 120px;
    height: 52px;
    border:1px #e2e4e7 solid;
    font-weight: 700;
    flex-shrink: 0;
    background: rgba(97, 104, 104, 0.49);
    border-radius:5px;
  }

  @media only screen and (max-width: 991.98px) {
    width: 100%;
    display: block;
    .inputbox{
      margin-right:10px;
    }
    .text {
      width:100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .selects {
      /*background-color:#e2e4e7;*/
      margin-right: 0;
      margin-bottom: 10px;
      select {
        width: 200px;
      }
    }
    button {
      width: 100%;
    }
  }
}
.movie {
  float: left;
  width: 210px;
  height: 280px;
  margin-right:10px;
  margin-bottom:10px;
  overflow: hidden;
  position: relative;
  .poster{
    width: 100%;
    height: 100%;
    :last-child {
      margin-right: 0;
    }
  }
  .info {
    width: 100%;
    height: 50px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    .year {
      margin-top: 10px;
      color: orange;
    }
    .title {
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.movie-details {
  margin-top: 200px;
  margin-left: 30px;
  .poster {
    float: left;
    flex-shrink: 0;
    width: 500px;
    height: 700px;
    margin-right: 70px;
    border-radius: 10px;
    background-color: gray;
    background-size: cover;
    background-position: center;
  }
  .specs  {
    flex-grow: 1;
    .title {
      color: black;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      font-size: 70px;
      line-height: 1;
      margin-bottom: 30px;
    }
    .labels {
      color: aqua;
      span {
        &::after {
          content: "\00b7";
          margin: 0 6px;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
    .plot {
      margin-top: 20px;
    }
    .ratings {
      .ratings-wrap {
        display: flex;
        .rating {
          display: flex;
          align-items: center;
          margin-right: 32px;
          img {
            height: 30px;
            flex-shrink: 0;
            margin-right: 6px;
          }
        }
      }
    }
    h3 {
      margin: 24px 0 6px;
      color: black;
      font-family: 'Oswald', sans-serif;
      font-size: 20px;
    }
  }
}
